/* Banner section */
.banner-section{
    background: url(https://mobirise.com/bootstrap-4-theme/assets-home/images/mbr-1920x1274.jpg);
    background-color: rgb(101, 146, 230, 0.8);
    background-blend-mode:overlay;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

/* info section */
.info-section{
    height: 300px;
}
.info-box > .fas {
    font-size: 36px;
}
/* product section */
.trending-product {
    background-color: #f9f9f9;
    padding: 90px 0px;
}
.section-title {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 300px;
    position: relative;
    z-index: 5;
    position: relative;
}
.single-product {
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-top: 30px;
    -webkit-box-shadow: 0 0 20px #00000012;
    box-shadow: 0 0 20px #00000012;
    padding: 8px;
    background: #fff;
}
.single-product .product-image {
    overflow: hidden;
    position: relative;
}
.single-product .product-image img {
    width: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.single-product .product-image .button {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -60px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;
}
.single-product .product-image .button .btn {
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 600;
    width: 140px;
}
.single-product .product-info {
    padding: 20px;
    background-color: #fff;
}
.single-product .product-info .category {
    color: #888;
    font-size: 13px;
    display: block;
    margin-bottom: 2px;
}
.single-product .product-info .title a {
    font-size: 16px;
    font-weight: 700;
    color: #081828;
    text-decoration: none;
}
.single-product .product-info .review {
    margin-top: 5px;
}
.single-product .product-info .review li {
    display: inline-block;
}
.single-product .product-info .price {
    margin-top: 15px;
}
.single-product .product-info .price span {
    font-size: 17px;
    font-weight: 700;
    color: #0167f3;
    display: inline-block;
}

/* footer */
footer {
    background-color: #081828;
    columns: #fff;
}
.copyright{
    color: #fff;
}
.copyright a {
    text-decoration: none;
}
.copyright p{
    margin: 0px;
}
.payment-gateway{
    color: #fff;
}

.login-box{
    min-height: 80vh;
}